/* ==========================================================================
   
   Autor: Peterson Macedo
   Data: 03/11/2016
   
   CSS destinado a pagina como-funciona.php
   Life Health

========================================================================== */

/* === RESPONSIVIDADE === */

@media screen and (min-width: 1200px) {

	/*
		// Trecho referente ao bloco ingredients
	*/

	.content-text-img-ingredients, .content-text-img-ingredients > div {
		height: 580px;
	}

	.content-text-lt-ingredients, .content-text-rt-ingredients {
		height: inherit!important;
	}

	.title-lt-one p {
		margin-bottom: 30px;
	}

	.text-lt-one {
		margin-bottom:10px;
	}

	.text-rt-one {
		margin-bottom:25px;
	}

	.text-lt-two {
		margin-bottom:15px;
	}

	.text-rt-two {
		margin-bottom:12px;
	}


	/*
		// Fim do trecho referente ao bloco ingredients
	*/

}

@media screen and (max-width: 1199px) and (min-width: 992px) {

	/*
		// Trecho referente ao bloco ingredients
	*/

	.content-text-img-ingredients, .content-text-img-ingredients > div {
		height: 690px;
	}

	.content-text-lt-ingredients, .content-text-rt-ingredients {
		height: inherit!important;
	}

	.title-lt-one p {
		margin-bottom: 30px;
	}

	.text-lt-one {
		margin-bottom:10px;
	}

	.text-rt-one {
		margin-bottom:8px;
	}

	.text-lt-two {
		margin-bottom:34px;
	}

	.text-rt-two {
		margin-bottom:10px;
	}


	/*
		// Fim do trecho referente ao bloco ingredients
	*/

	/*
		// Trecho referente ao bloco 5 de justificativa
	*/

	.text-points-just p {
		margin: 10px 0 0 70px!important;
	}

	/*
		// Fim do trecho referente ao bloco 5 de justificativa
	*/

}

@media screen and (max-width: 991px) {

	/*
		// Reset CSS - trecho ingredients
	*/

	.content-text-lt-ingredients, .content-text-lt-ingredients > div, .content-text-rt-ingredients, .content-text-rt-ingredients > div  {
		padding:0;
	}

	/*
		// Fim do reset CSS - trecho ingredients
	*/

}

@media screen and (max-width: 991px) and (min-width: 768px) {
	
	.content-text-explanation p .paragrafo-3 {
		display: none;
	}

	.content-text-explanation-p3 {
		display: block!important;
	}

	/*
		// Trecho referente ao bloco de ingredientes
	*/

	.content-text-img-ingredients, .content-text-img-ingredients > div {
		height: 700px;
	}

	.content-text-lt-ingredients, .content-text-rt-ingredients {
		height: inherit!important;
	}

	.title-lt-one p {
		margin-bottom: 30px;
	}

	.text-lt-one {
		margin-bottom:4px;
	}

	.text-rt-one {
		margin-bottom:18px;
	}

	.text-lt-two {
		margin-bottom:15px;
	}

	.text-rt-two {
		margin-bottom:10px;
	}

	/*
		// Fim do trecho referente ao bloco de ingredientes
	*/

	/*
		// Trecho referente ao bloco 5 de justificativa
	*/

	.text-points-just p {
		margin: 10px 0 20px 40px!important;
	}

	/*
		// Fim do trecho referente ao bloco 5 de justificativa
	*/


	/*
		// Trecho referente ao bloco 4: CTA - cf
	*/

	.box-content-img-cta-cf {
		width: 28%!important;
		float: left;
	}

	.box-content-text-cta {
		width: 72%!important;
		float: right;
	}

	.btn-cta a {
		height: 80px!important;
	}

	.btn-cta a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-cta a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}
}


@media screen and (max-width: 769px) and (min-width: 641px) {


	@media screen and (min-width: 641px) and (max-width:705px) {

		.content-text-explanation p .paragrafo-2 {
			display: none;
		}

		.content-text-explanation-p2 {
			display: block!important;
		}

		/*
			// Trecho referente ao bloco 5 de justificativa
		*/

		.row-point-just .text-points-just p {
			margin: 10px 0 20px 50px!important;
		}

		/*
			// Fim do trecho referente ao bloco 5 de justificativa
		*/

	}

	@media screen and (min-width:706px) and (max-width:769px) {
	
	}

	.content-text-explanation, .content-img-explanation {
		width:50%;
	}

	.content-img-explanation {
		float: right;
	}

	.content-text-explanation p .paragrafo-3 {
		display: none;
	}

	.content-text-explanation-p3 {
		display: block!important;
	}

	/*
		// Trecho referente ao bloco de ingredientes
	*/

	.box-img-lateral-text-top > div, .box-img-lateral-text-bottom > div{
		height: 410px;
	}

	.box-img-lateral-text-top > div {
		background: #effafc;
	}
	.box-img-lateral-text-bottom > div{
		background: #f7f7f7;
	}

	/*
		// Fim do trecho referente ao bloco de ingredientes
	*/

	/*
		// Trecho referente ao bloco 5 de justificativa
	*/

	.text-points-just p {
		margin: 10px 0 20px 35px!important;
	}

	/*
		// Fim do trecho referente ao bloco 5 de justificativa
	*/

	/* Trecho relacionado ao CTA */

	.btn-cta a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-cta a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-cta a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}



@media screen and (max-width: 640px) and (min-width: 481px) {

	@media screen and (min-width: 560px) and (max-width:640px) {

		/*
			// trecho referente ao bloco de justificar porque funciona
		*/

		.text-points-just .title-points-just.title-complete {
			width: 160px!important;
		}

		.text-points-just .title-points-just.title-proven {
			width: 198px!important;
		}

		.text-points-just .title-points-just.title-powerful {
			width: 145px!important;
		}

		.text-points-just .title-points-just.title-synergy {
			width: 165px!important;
		}

		.text-points-just {
			width: 80%!important;
		}

		.img-points-justification {
			width: 20%!important;
		}

		.img-points-justification {
			height:155px;
		}

		.img-points-justification img{
			position: relative!important;
		}

		.row-point-just .text-points-just p {
			margin: 15px 0 15px 45px!important;
		}

		/*
			// Fim do trecho referente ao bloco de justificar porque funciona
		*/
		
	}

	/*==========================================================================
	   ************************* RESTART CSS *******************************
	==========================================================================*/

	.content-total-explanation, .content-total-explanation .container-fluid, .content-explanation {
		padding:0;
	}

	.img-scientist-top {
		display: block!important;
	}

	.img-scientist-bottom {
		display:none!important;
	}

	.content-text-explanation{
		width: 50%;
	}

	.content-img-explanation {
		width:50%;
	}

	.content-img-explanation {
		float: right;
		margin-bottom: 15px;
	}

	.content-text-explanation p .paragrafo-3, .content-text-explanation p .paragrafo-2 {
		display: none;
	}

	.content-text-explanation-p3, .content-text-explanation-p2 {
		display: block!important;
	}

	/*
		// Trecho referente ao bloco ingredients
	*/

	.content-img-ingredients-lateral {
		display: none!important;
	}

	.img-ingredients-topo {
		display: block!important;
	}

	.img-ingredients-topo img{
		width: 350px;
		margin: 0 auto 35px;
		float: none;
		display: block;
	}

	.box-img-lateral-text {
		width: 50%!important;
	}

	.content-text-rt-ingredients, .content-text-lt-ingredients {
		width: 100%!important;
	}

	.title-lt-one p {
		margin-bottom: 30px;
	}

	.text-lt-one, .text-rt-one, .text-rt-two {
		margin-bottom:10px;
	}

	.text-lt-two {
		margin-bottom:15px;
	}

	/*
		// Fim trecho referente ao bloco ingredients
	*/

	/*
		// trecho referente ao bloco de justificar porque funciona
	*/

	.box-content-img-justification, .box-content-text-justification {
		width: 100%;
	}

	.box-content-img-justification {
		display: none;
	}

	.box-content-text-justification .img-justification-480 {
		display: block!important;
		float: none!important;
		margin: 25px auto!important;
	}

	.box-content-text-justification h4 {
		text-align: center;
	}

	.text-points-just .title-points-just {
		width: 100%!important;
		text-align: center;
	}

	.img-points-justification, .text-points-just {
		width: 100%;
	}

	.img-points-justification {
		height:155px;
	}

	.img-points-justification img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.row-point-just .text-points-just p {
		margin: 15px 0;
	}

	/*
		// Fim do trecho referente ao bloco de justificar porque funciona
	*/

	/* Trecho relacionado ao CTA */

	.btn-cta a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-cta a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-cta a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 


}

@media screen and (max-width: 480px) {

	/*==========================================================================
	   ************************* RESTART CSS *******************************
	==========================================================================*/

	.content-total-explanation, .content-total-explanation .container-fluid, .content-explanation {
		padding:0;
	}

	.img-scientist-top {
		display: block!important;
		margin: 15px 0;
	}

	.img-scientist-bottom {
		display:none!important;
	}

	/*
		// Trecho referente ao bloco ingredients
	*/

	.content-img-ingredients-lateral {
		display: none!important;
	}

	.img-ingredients-topo {
		display: block!important;
	}

	.img-ingredients-topo img{
		max-width: 350px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto 35px;
		float: none;
		display: block;
	}

	.box-img-lateral-text {
		width: 100%!important;
	}

	.content-text-rt-ingredients, .content-text-lt-ingredients {
		width: 100%!important;
	}

	.content-text-rt-ingredients {
		text-align: left!important;
	}

	/*
		// Fim trecho referente ao bloco ingredients
	*/

	/*
		// Trecho referente ao bloco de Justificar porque funciona
	*/

	/*==========================================================================
	   ******************* RESTART CSS justificativa ************************
	==========================================================================*/

	.row-content-justification .container, .row-content-justification .container-fluid {
		padding: 0;
	}

	/*==========================================================================
	   ******************* Fim RESTART CSS justificativa ********************
	==========================================================================*/

	.box-content-img-justification {
		display: none;
		width: 100%;
	}

	.box-content-text-justification {
		width: 100%;
	}

	.img-justification-480 {
		display: block!important;
		width: 100%;
	}

	.text-points-just .title-points-just {
		width: 100%!important;
		text-align: center;
	}

	.img-points-justification, .text-points-just {
		width: 100%;
	}

	.img-points-justification {
		height:155px;
	}

	.img-points-justification img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.row-point-just .text-points-just p {
		margin: 15px 0;
	}

	/*
		// Fim do trecho referente ao bloco de justificar porque funciona
	*/

	/* Trecho relacionado ao CTA */

	.btn-cta a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-adquira.btn-cta a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-cta a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	.text-cta-cf {
		font-size: 16px!important;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}


@media screen and (max-width: 480px) and (min-width: 321px) {

}

@media screen and (max-width: 321px) {

	.box-content-text-cta .btn-adquira.btn-cta a h3 {
		margin: 20px 0!important;
	}

}


.img-scientist-top, .content-text-explanation-p3, .content-text-explanation-p2 {
	display: none;
}

.title-explanation {
	text-align: center;
	padding: 15px 15px 25px;
	font-weight: bold;
}

.content-img-explanation img {
	width: 100%;
}

.content-text-explanation p, .content-text-explanation-p3, .content-text-explanation-p2 {
	font-weight: normal;
	color: #222222;
}

.content-img-ingredients img, .content-img-ingredients-lateral img {
	width: 100%;
}

/*==========================================================================
   ******************** RESTART CSS ingredients **************************
==========================================================================*/

.content-total-ingredients, .content-total-ingredients .container-fluid, .content-ingredients, .content-text-img-ingredients {
	padding: 0;
}

/*
	// Trecho referente ao bloco de ingredientes
*/

.content-total-ingredients {
	padding: 35px 0;
}

.content-text-img-ingredients {
	margin: 25px 0;
}

.title-ingredients {
	text-align: center;
	margin: 25px 0;
	font-weight: bold;
}

.title-text-ingredients {
	color: #139246;
}

.title-text-ingredients p span {
	font-size: 18px;
	font-weight: bold;
}

.title-text-ingredients p {
	font-weight: initial;
}

.text-ingredients {
	color: #222;
	font-weight: initial;
}

.content-text-lt-ingredients {
	text-align: left;
}

.content-text-rt-ingredients {
	text-align: right;
}

.content-img-ingredients img, .content-img-ingredients-lateral img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/*
	// Fim do trecho referente ao bloco de ingredientes
*/

/*
	// Techo referente ao bloco 3: Justificar porque funciona;
*/

.img-justification-480 {
	display:none;
}

.title-justification {
	text-align: center;
	font-weight: bold;
	margin: 20px 0; 
}

.box-content-text-justification p {
	color: #222222;
	font-weight: initial;
	margin: 20px 0;
}

.box-content-img-justification img{
	width: 100%;
}

.row-point-just {
	background: #dce8f0;
}

.row-point-just, .img-points-justification {
	padding: 0;
}

.row-point-just {
	margin: 25px 0;
}

.row-point-just.row-just-complete {
	margin: 50px 0 25px;
}

.row-point-just.row-just-synergy {
	margin: 25px 0 50px;
}

.img-points-justification img{
	width: 140px;
	margin-top: -30px;
}

.text-points-just h3 i{
	padding: 0 5px;
}

.title-points-just {
	background:#139246;
	color: #ffffff;
	padding: 4px;
	margin: -15px 0 0 0;
	font-weight: bold;
	font-style: bold; 
}

.title-complete {
	width: 165px;
}

.title-proven {
	width: 203px;
}

.title-powerful {
	width: 140px;
}

.title-synergy {
	width: 162px;
}

.text-points-just p {
	font-size: 14px;
	color: #222222;
	font-weight: initial;
	margin: 10px 0 0 50px;
}

.img-points-justification img {
	border: solid 8px #DCE8F0;
}

/*
	// Fim do trecho referente ao bloco 3: Justificaticar porque funciona;
*/

/*
	// Trecho referente ao bloco 3: CTA - como funciona (cf);
*/

/*	///////////////// Zerendo CSS deste trecho ////////////////  */

.content-full-cta-cf, .cta-cf-fluid, .content-cta-cf, .box-content-text-cta, .box-content-text-cta .btn-adquira {
	padding: 0;
}

/*	///////////////// Zerendo CSS deste trecho ////////////////  */

.cta-cf-fluid {
	background: #f9f9f9;
	padding: 0;
	margin-bottom: 20px;
	border-top:solid 1px #e5e5e5!important;
	border-bottom:solid 1px #e5e5e5!important;
}

.content-cta-cf hr{
	margin: 0;
}

.title-cta-cf {
	font-weight: bold;
	text-align: center;
	margin: 30px 0;
}

.text-chamada-cta-cf {
	font-weight: bold;
	text-align: center;
	margin-top: 15px;	
}

.box-content-img-cta-cf-xs {
	height: 260px;
}

.box-content-img-cta-cf-xs img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.box-content-img-cta-cf {
	height: 325px;	
}

.box-content-img-cta-cf img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.text-cta-cf {
	text-align: center;
	font-weight: initial;
	color: #222222;
	font-size: 18px;
}

.text-cta-cf span{
	color: #006f92;
	font-weight: bold;
}

.box-content-text-cta .btn-adquira a{
	margin:25px auto!important;
	display:block!important;
	float: none;
}

/*
	// Fim do trecho referente ao bloco 3: CTA - como funciona (cf);
*/