

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 08/11/2016
   Pagina - Depoimentos
   Life Health
   ========================================================================== */


/* ==========================================================================
   	**************************  Responsividade  ****************************
   ========================================================================== */

@media screen and (min-width: 1200px) {
	/* trecho referente ao  antes e depois */
	.panel-horizontal .panel-body p {
		padding: 15px 30px;
		vertical-align: middle;
		display: table-cell;
	}
	.content-testimony-one .panel-body p, .content-testimony-two .panel-body p,
	.content-testimony-six .panel-body p {
		height: 339px;
	}
	.content-testimony-three .panel-body p, .content-testimony-four .panel-body p {
		height: 190px;
	}
	.content-testimony-five .panel-body p {
		height: 190px;
		padding: 5px 30px!important;	
	}

}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	/* trecho referente ao  antes e depois */
	.panel-horizontal .panel-body p {
		padding: 15px 30px;
		vertical-align: middle;
		display: table-cell;
	}
	.content-testimony-one .panel-body p, .content-testimony-two .panel-body p,
	.content-testimony-six .panel-body p {
		height: 339px;
	}
	.content-testimony-three .panel-body p, .content-testimony-four .panel-body p {
		height: 190px;
	}
	.content-testimony-five .panel-body {
		padding:10px 15px 0;
	}
	.content-testimony-five .panel-body p {
		height: 200px;
		padding: 5px 30px!important;	
	}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

	/* trecho referente ao  antes e depois */
	.panel-horizontal .panel-body p {
		padding: 15px 30px;
		vertical-align: middle;
		display: table-cell;
	}
	.content-testimony-one .panel-heading img {
		margin: 48px auto;
	}
	.content-testimony-three .panel-heading img, .content-testimony-four .panel-heading img {
		margin: 39px auto;
	}
	.content-testimony-five .panel-heading img {
		margin: 65px auto;
	}
	.content-testimony-two .panel-body p,
	.content-testimony-six .panel-body p {
		height: 275px;
	}
	.content-testimony-three .panel-body p, .content-testimony-four .panel-body p {
		height: 190px;
	}
	.content-testimony-five .panel-body {
		padding:10px 15px 0;
	}
	.content-testimony-five .panel-body p {
		height: 200px;
		padding: 5px 30px!important;	
	}

	/* Trecho relacionado ao CTA */

	.btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 


}

@media screen and (max-width: 769px) and (min-width: 641px) {
	

	@media screen and (min-width: 641px) and (max-width:705px) {

	}

	@media screen and (min-width:706px) and (max-width:769px) {
	
	}

	/* trecho referente ao  antes e depois */
	.panel-horizontal .panel-body p {
		padding: 15px 30px;
		vertical-align: middle;
		display: table-cell;
	}
	.content-testimony-one .panel-heading img {
		margin: 126px auto;
		width:100%;
	}
	.content-testimony-two .panel-heading img, .content-testimony-six .panel-heading img {
		margin: 30px auto;
		width:100%;
	}
	.content-testimony-three .panel-heading img, .content-testimony-four .panel-heading img {
		margin: 25px auto;
		width:100%;
	}
	.content-testimony-five .panel-heading img {
		margin: 76px auto;
		width:100%;
	}
	.content-testimony-one .panel-body p {
		height: 460px!important;
	}
	.content-testimony-two .panel-body p,
	.content-testimony-six .panel-body p {
		height: 275px;
	}
	.content-testimony-three .panel-body p, .content-testimony-four .panel-body p {
		height: 190px;
	}
	.content-testimony-five .panel-body p {
		height: 200px;
	}

	/* Trecho relacionado ao CTA */

	.box-content-text-cta-testimony .btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}


@media screen and (max-width: 640px) and (min-width: 481px) {
	/* trecho referente ao  antes e depois */
	.content-testimony-five .panel-heading img {
		margin: 40px auto;
	}
	.panel-horizontal .panel-body p {
		padding: 15px 30px;
		vertical-align: middle;
		display: table-cell;
	}
	.content-testimony-one .panel-body p {
		padding: 0;
		height: 520px;
	}
	.content-testimony-two .panel-body p,
	.content-testimony-six .panel-body p {
		height: 520px;
	}
	.content-testimony-three .panel-body p, .content-testimony-four .panel-body p {
		padding: 0;
		height: 340px;
	}
	.content-testimony-five .panel-body p {
		padding: 0;
		height: 420px;
	}

	/* Trecho relacionado ao CTA */

	.box-content-text-cta-testimony .btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}

@media screen and (max-width: 480px) {
	/* trecho referente ao  antes e depois */
	.content-video-one, .content-video-two, .content-video-three {
		width:100%!important;
	}

	.panel-horizontal .panel-heading, .panel-horizontal .panel-body {
		width: 100%!important;
	}
	.panel-horizontal .panel-heading img {
		width: 100%;
	}
	/* Trecho referente ao bloco 3: stories; */
	.container-stories, .container-fluid-stories, .container-testimony {
		padding: 0;
	}

	/* Trecho referente ao bloco 4: notice legal; */
	.container-notice-legal, .container-fluid-notice-legal {
		padding: 0;
	}
	/* Trecho relacionado ao CTA */

	.box-content-text-cta-testimony .btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.box-content-text-cta-testimony .btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}


@media screen and (max-width: 480px) and (min-width: 321px) {

	@media screen and (max-width: 480px) and (min-width: 380px) {

	}

}

@media screen and (max-width: 321px) {

	.box-content-text-cta-testimony .btn-adquira a .btn-uppercase-experimente {
		margin: 20px 0!important;
	}


}

.content-video-testimony, .container-fluid-testimony, .panel-default.panel-horizontal {
	padding: 0;
}

.content-title-testimony {
	text-align: center;
	padding:20px 0 25px;
}

.content-title-testimony h2 {
	font-weight: bold;
}

.content-title-testimony p {
	font-weight: initial;
	color: #7e8083;
}

.panel-horizontal .panel-heading {
	width: 40%;
}

.panel-horizontal .panel-body {
	width: 60%;
	font-weight: initial;
	color:#464646;
}

.panel-horizontal .panel-body.panel-invert {
	float: left!important;
	text-align: right;
}

.panel-horizontal .panel-heading.panel-invert {
	float: right!important;

}

.panel-heading img {
	margin: 0 auto;
	display: block;
	float: none;
}

/* // Trecho referente ao bloco 3: stories; // */

.title-stories h2{
	font-weight: bold!important;
	text-align: center;
	margin: 35px 0;
}

.content-stories .panel-success {
	padding: 0;
	border-radius: 0!important;
}

.content-stories .panel-success .panel-heading {
	font-weight: initial;
	color: #464646;
	margin-bottom: 0;
	border-bottom: 0;
	background: #E5EAE3!important;
	border-radius: 0!important;
}

.content-stories .panel-info {
	padding: 0;
	border-radius: 0!important;
}

.content-stories .panel-info .panel-heading {
	font-weight: initial;
	color: #464646;
	margin-bottom: 0;
	border-bottom: 0;
	background: #E6F1F7!important;
	border-radius: 0!important;
}

.notice-stories {
	font-weight: initial;
	color: #727272;
	text-align: center;
	margin-bottom:25px;
}

/* // trecho referente ao bloco 4: notice legal; // */

.title-notice-legal h2 {
	font-weight: bold!important;
	text-align: center;
	margin: 35px 0;
}

.row-notice-legal {
	background:#fffaf2;
	border-top: solid 10px #ddd;
}

.content-text-notice-legal{
	width: 100%;
	background: #fffcf9!important;
	padding: 15px!important;
	margin-bottom: 15px!important;
	border: dashed 2px #EAEAEA;
}

.content-text-notice-legal p{
	font-weight: initial;
	color: #464646;
	margin-bottom:0;
}


/*	/////////////// Zerendo CSS deste trecho //////////////  */

.content-full-cta-testimony, .cta-testimony-fluid, 
.content-cta-testimony, .box-content-text-cta-testimony,
.box-content-text-cta-testimony .btn-adquira {
	padding: 0;
}

/*	// Trecho referente ao bloco 5: CTA - depoimentos (testimony); //  */

.content-cta-testimony {
	padding: 10px 0!important;
	margin: 20px 0;
}

.title-cta-testimony {
	font-weight: bold;
	text-align: center;
	margin: 35px 0;
}

.text-chamada-cta-testimony {
	font-weight: bold;
	text-align: center;
	margin-top: 15px;	
}

.box-content-img-cta-testimony-xs {
	height: 300px;
}

.box-content-img-cta-testimony-xs img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.box-content-img-cta-testimony-xs {
	height: 260px;	
}

.box-content-img-cta-testimony {
	height: 350px;
}

.box-content-img-cta-testimony img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.text-cta-testimony {
	text-align: center;
	font-weight: initial;
	color: #222222;
	font-size: 18px;
}

.text-cta-testimony span{
	color: #006f92;
	font-weight: bold;
}

.box-content-text-cta-testimony .btn-adquira a{
	margin:0 auto!important;
	display:block!important;
	float: none;
}

.box-content-text-cta-testimony .btn-adquira {
	margin:25px auto!important;
}