

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 08/11/2016
   Pagina - Perguntas Frequentes
   Life Health
   ========================================================================== */


/* === Responsividade === */

@media screen and (min-width: 1200px) {
	
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

	/* Trecho relacionado ao CTA */

	.btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */ 

}

@media screen and (max-width: 769px) and (min-width: 641px) {
	

	@media screen and (min-width: 641px) and (max-width:705px) {

	}

	@media screen and (min-width:706px) and (max-width:769px) {
	
	}

	/* Trecho relacionado ao CTA */

	.btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */
}


@media screen and (max-width: 640px) and (min-width: 481px) {

	/* Trecho relacionado ao CTA */

	.btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */
}

@media screen and (max-width: 480px) {

	.container-faq, .container-fluid-faq, .content-produto-faq,
	.content-saude-faq, .content-compra-faq, .content-entrega-faq,
	.content-garantia-faq {
		padding: 0;
	}
	
	/* Trecho relacionado ao CTA */

	.box-content-text-cta-faq .btn-adquira a {
		height: 80px!important;
		margin: 25px auto!important;
	}

	.box-content-text-cta-faq .btn-adquira a .btn-uppercase-experimente{
		font-size: 25px!important;
		margin:0 0 5px!important;
	}

	.box-content-text-cta-faq .btn-adquira a .btn-lowercase-experimente{
		font-size: 14px!important;
		white-space: normal!important;
		line-height: 16px;
	}

	/* Fim do Trecho relacionado ao CTA */

}


@media screen and (max-width: 480px) and (min-width: 321px) {

	@media screen and (max-width: 480px) and (min-width: 380px) {

	}

}

@media screen and (max-width: 321px) {

	.box-content-text-cta-faq .btn-adquira a .btn-uppercase-experimente{
		margin: 20px 0!important;
	}

}

/* Trecho referente ao botão "subir" */

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #006F92;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-weight:initial;
}
.back-to-top:hover {
    background: #5A9CB7;
    text-decoration: none;
	color:#fff;
}
.back-to-top.show {
    opacity: 1;
}

/* Trecho responsavel pelo bloco1: Perguntas frequentes */

.content-cat-faq, .content-faq, 
.sub-title-faq, .content-faq > div > div.panel,
.box-content-text-cta-faq .btn-adquira {
	padding:0;
}

.title-faq h3{
	text-align: center;
	font-weight: bold;
}

.sub-title-faq {
	color: #676767;
	font-size: 25px!important;
}

.sub-title-faq i{
	color: #323232;
	font-size: 16px!important;
}

.sub-title-faq hr{
	margin-top:0!important;
}

.panel-heading {
	cursor: pointer;
}

.panel-title{
	font-size:16px;
	font-weight: bold;
	color: #464646;
	width:100%;
}

.panel-title:hover{
	font-size:16px;
	text-decoration: none;
	color:#808080;
}


.panel-title:focus{
	text-decoration: none;
	color:#808080;
}

.list-group-item {
	font-weight:initial;
	font-size: 14px;
}

.list-group-item i{
	font-size: 11px;
	padding: 0 15px;
	color: #595959;
}

.list-group-item a{
	color: #464646;
}

.list-group-item a:hover{
	text-decoration:none;
	color: #006E91;
	font-weight: bold;
}

.panel-body p {
	color: #464646;
	font-weight: initial;
}

.panel-body ul {
	list-style-type: none;
}

.panel-body ul li {
	color: #464646;
	font-weight: initial;
}

.lnk-correios {
	text-decoration: none;
}

.lnk-correios:hover, .lnk-correios:focus {
	text-decoration: none;
}

.lnk-correios .label {
	font-size: 10px;
	font-weight: initial;
}

.lnk-correios .label:hover {
	background: #829093;
}



/* Zerendo CSS deste trecho */

.content-full-cta-faq, .cta-faq-fluid, .content-cta-faq, .box-content-text-cta, .box-content-text-cta .btn-adquira {
	padding: 0;
}

/* Trecho referente ao bloco 2: CTA - Perguntas frequentes (faq) */

.content-cta-faq {
	border-top: solid 5px #aad2e5;
	padding: 10px 0!important;
	margin: 20px 0;
}

.title-cta-faq {
	font-weight: bold;
	text-align: center;
	margin: 35px 0;
}

.text-chamada-cta-faq {
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.box-content-img-cta-faq-xs {
	height: 260px;
}

.box-content-img-cta-faq-xs img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.box-content-img-cta-faq {
	height: 350px;	
}

.box-content-img-cta-faq img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.text-cta-faq {
	text-align: center;
	font-weight: initial;
	color: #222222;
	font-size: 16px;
}

.text-cta-faq span{
	color: #006f92;
	font-weight: bold;
}

.box-content-text-cta-faq .btn-adquira a{
	margin:0 auto!important;
	display:block!important;
	float: none;
}

.box-content-text-cta-faq .btn-adquira {
	margin:25px auto!important;
}
