

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 06/12/2016
   Finalização cartão - Sucesso page
   Life Health
   ========================================================================== */


/* ================   Responsividade   ================== */


@media screen and (max-width: 480px) {

	.content-congratulations i {
		font-size: 80px!important;
		margin-top:15px;
	}

	.txt-congratulations {
		font-size: 45px!important;
	}

	.sub-congratulations {
		font-size: 18px!important;
	}

	.line-title {
		width: 80%!important;
	}

	.btn-fnlz-card {
		width: 100%!important;
	}

	.txt-info span {
		margin: 15px 0;
	}

	.content-txt-fnlz .txt-info {
		width: 100%;
	}

}


@media print {
    .content-finalizacao-cartao {
       display: block;
       text-align: left;
    }
    .content-congratulations i, .content-congratulations h1,
    .txt-info, .content-btn-fnlz-print-blt,
    .content-btn-fnlz {
       display: none!important;
    }
}

.container, .container-fluid, .content-finalizacao-cartao, 
.content-congratulations, .sub-congratulations, .content-txt-fnlz,
.txt-info {
	padding: 0;
}

.row-content-total {
	text-align: center;
}

.content-congratulations i {
	font-size: 60px;
	color: #72B563;
}

.content-congratulations h1 {
	font-weight: bold;
	font-size: 40px;
	color: #72B563;
}

.content-congratulations p {
	font-size: 20px;
	line-height: 22px;
}

.sub-congratulations span {
    margin-top: 25px;
    font-size: 16px;
}

.content-congratulations span {
	margin-bottom: 25px;
}

.line-title {
	width: 250px;
	height: 1px;
	background: #e8e8e8;
	margin: 15px auto;
}

.content-txt-fnlz .txt-thanks {
	font-size: 20px;
	font-weight: bold;
}

.content-txt-fnlz .txt-address {
	font-size: 14px;
	margin: 15px 0;
	font-weight: normal!important;
}

.content-txt-fnlz .npedido {
	font-size: 20px;
}

.content-txt-fnlz .txt-info {
	font-size: 14px;
	margin: 15px 0;
	max-width: 600px;
	margin: 0 auto;
	display: block;
	float: none;
	font-weight: normal!important;
}

.text-info-email {
	background:#ddd;
	border-left: 4px solid #72B563;
	padding: 15px;
}

.content-txt-fnlz .txt-info span{
	margin: 5px 0 15px;
}

.txt-info span a {
	text-decoration: none;
}

.label-click {
	background: #c9c9c9;
	color: #fff;
	font-weight: initial!important;
}

.label-click:hover {
	background: #a7a7a7;
}

.btn-fnlz-card {
	background: #d3d3d3;
	height: 40px;
	margin: 15px 0;
}

.btn-fnlz-card h4{
	font-size: 16px;
	margin: 5px 0;
	color: #6f6f6f;
}