

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 18/11/2016
   Pagina: Politica de Reembolso
   Life Health
   ========================================================================== */


/*  ////////// Responsividade //////////   */

@media screen and (max-width: 1199px) and (min-width: 992px) {

}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {

}


@media screen and (max-width: 769px) and (min-width: 641px) {

	@media screen and (min-width: 641px) and (max-width:705px) {

	}

	@media screen and (min-width:706px) and (max-width:769px) {

	}

}


@media screen and (max-width: 640px) and (min-width: 481px) {

	@media screen and (min-width: 560px) and (max-width:640px) {

	}

}

@media screen and (max-width: 480px) {

	.container-return-policy, .container-fluid-return-policy {
		padding: 0;
	}

}


@media screen and (max-width: 480px) and (min-width: 321px) {

	@media screen and (max-width: 480px) and (min-width: 380px) {

	}

}

.row-header-biodrine {
	display: block!important;
}

.content-text-return-policy {
	margin-bottom: 30px;
}

.p-site-oficial a:hover {
	text-decoration: none;
}

.label-return-policy:hover {
	background: #b1c4c9;
}

.label-return-policy {
	font-size: 13px;
	font-weight: initial;
	background: #c9d5d8;
	color: #333;
}

.content-text-return-policy p, .panel-endereco {
	font-weight: initial;
	color: #333;
}

.title-return-policy h2 {
	font-weight: bold;
	margin-top: 40px;
}

.content-text-return-policy h3 {
	margin: 45px 0 25px;
}

.content-text-return-policy .p-email .label{
	color: #333;
	font-size: 13px;
	font-weight: initial;
	background: #dee8ea;
}

.txt-copy-biodrine {
	font-weight: normal;
	color: #333;
}

.btn-back-checkout {
	margin: 35px 0!important;
}