<div class="navbar-biodryne">
	<div class="container container-header-top">
      	<div class="container-fluid">
	      	<div class="header-top col-lg-12 hidden-xs">
		      	<div class="logo-tipo col-lg-4 col-md-4 ">
		      		<a href="../index.php"><img src="../img/logo-biodryne.png"></a> 
		      	</div>
		      	

		      	<div class="col-lg-8 col-md-8 content-contat-header"> 

					<div class="icons-chamada">
						<ul>
							<li class="col-md-3 col-sm-3 col-xs-3 icon-client">
					            <span class="fa fa-thumbs-o-up"></span>
					            <p>Mais de 25.000</p>
					            <p>Clientes</p>
					        </li>
					        <li class="col-md-3 col-sm-3 col-xs-3 icon-anvisa">
					        	<span class="fa fa-check-square-o"></span>
					            <p>Aprovado pela</p>
						        <p>ANVISA</p>
					        </li>
					        <li class="col-md-3 col-sm-3 col-xs-3 icon-ingredients">
					        	<span class="fa fa-leaf"></span>    
					            <p>Ingredientes</p>
					            <p>naturais</p>
					        </li>
					        <li class="col-md-3 col-sm-3 col-xs-3 icon-contact">
					          	<span class="fa fa-phone"></span>
					            <p>SAC</p>
					            <p>(62) 3639-2975</p>
					        </li>
					    </ul>

	    			</div><!--/icons-chamada-->

				</div><!--/content-contat-header-->

			</div><!--/header-top-->

		</div><!--/container-fluid-->

	</div><!--/container-->

	<div class="loading-page"></div>

	<div class="container container-header-bottom">

		<div class="container-fluid">

			<nav class="navbar navbar-default header-bottom" role="navigation" id="slide-nav">

			    <div class="navbar-header">
					<a class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="navbar-brand header-top-xs">
						<div class="logo-xs">
							<a href="../index.php"><img src="../img/logo-biodryne.png">
							</a>
						</div>

						<div class="content-contat-header-xs">
							<div class="icon-contact-xs">
								<p><i class="fa fa-phone"></i>&nbsp;SAC&nbsp;<span>(62) 3928-1213</span></p>
							</div>
						</div>
					</div>
				</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div id="slidemenu" class="navbar-menu-bio">
				    <ul class="nav navbar-nav">
					    <li><a href="../index.php">HOME</a></li>
				        <li><a href="../views/como-funciona.php">COMO FUNCIONA</a></li>
				        <li><a href="../views/depoimentos.php">DEPOIMENTOS</a></li>
				        <li><a href="../views/garantia.php">GARANTIA</a></li>
				        <li><a href="../views/perguntas-frequentes.php">PERGUNTAS FREQUENTES</a></li>
				        <li><a href="../views/contato.php">CONTATO</a></li>
				        <li><a href="../index.php?#buy-biodryne" class="btn-buy-other">PEÇA AGORA!</a></li>
						<!--<li><a href="http://biodryneoficial.com.br">PEÇA AGORA!</a></li>-->
				    </ul>			      
			    </div><!-- /.navbar-collapse -->

			</nav><!--/navbar-bottom-->

		</div>

	</div>

</div><!--/navbar-biodryne-->