
#the_science{
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid #f7f7f7;
}
#the_science::before{
	content: "";
	position: absolute;
	top: 0; right: 0;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	-webkit-clip-path: polygon(90% 0, 100% 0%, 100% 100%, 60% 100%);
	clip-path: polygon(90% 0, 100% 0%, 100% 100%, 60% 100%);
}

#the_science .row{
	display: flex;
	align-items: center;
	justify-content: center;
}

#the_science p, #the_science ul li{
	color: #333;
	font-size: 16px;
	text-align: justify;
}

#the_science ul{
	list-style-type: none;
	padding: 0;
}

#the_science img{
	border: 6px solid #f7f7f7;
	box-shadow: #bbb 2px 2px 5px;
}

@media only screen and (max-width:991px){
	#the_science{
		padding-bottom: 0;
	}
	#the_science::before{
		clip-path: initial;
	}
	#the_science .row{
		flex-direction: column;
	}
	#the_science .figure{
		padding: 0;
		margin-top: 25px;
	}

	#the_science .figure img{
		border:  0;
	}
}




#ingredients{
	margin-top: 50px;
	margin-bottom: 50px;
}

#ingredients .container .row{
	display: flex;
	align-items: center;
}

#ingredients .items > .left, #ingredients .items > .right{
	width: 30%;
}

#ingredients .ingredient{
	align-items: center;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
#ingredients .ingredient p{
	color: #555
}

#ingredients .center{
	display: flex;
	align-items: center;
	width: 40%;
	padding-left: 10px;
	padding-right: 10px;
} 

#ingredients .center  .left,
#ingredients .center  .right{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 25%;
}

#ingredients .center  .left > img,
#ingredients .center  .right > img{
	width: 110px;
	height: 110px;
	object-fit: cover;
	object-position: center;
	border: 8px solid #eee;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
		box-shadow: #bbb 3px 3px 5px;
}
#ingredients .center .center{
	width: 50%;
}
#ingredients .center .center img{
	max-width: 210px;
}


@media only screen and (max-width: 1199px){
	#ingredients .center .center img{
		max-width: 180px;
	}
	#ingredients .ingredient p{
		font-size: 14px;
	}

#ingredients .center  .left > img,
#ingredients .center  .right > img{
	width: 90px;
	height: 90px;
}
}
@media only screen and (max-width: 991px){
	#ingredients{
		margin-bottom: 0;
		background-image:
	    linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
	}
	#ingredients .container .row{
		flex-direction: column;
	}
	#ingredients .items>.left, #ingredients .items>.right {
    	width: auto;
	}

	#ingredients .ingredient{
		text-align: center !important;
		padding: 15px;
	}
	#ingredients .ingredient img{
		width: 150px; height: 150px;
		object-fit: cover;
		border-radius: 50%;
		border: 10px solid #f9f9f9;
		box-shadow: #bbb 3px 3px 5px !important;
		margin: 0 auto;
	}
}





#start-your-transformation{
	background-image:
	    linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%),
	    url('../img/parallax.jpg');
	background-position: right top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain, auto 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 2px solid #ddd;
}
#start-your-transformation p{
	font-size: 16px;
	color: #333;
}	

@media all and (max-width:1199px){
	#start-your-transformation{
		background-position: left center,right -130px bottom;
	}
	#start-your-transformation .images img.mockup{
		max-width: 180px !important;
		margin-top: 0;		
	}
	#start-your-transformation .images .selos img{
		max-width: 60px;
	}
}
@media all and (max-width:991px){	
	#start-your-transformation{background-image:
	    linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,.8) 100%),
	    url('../img/parallax.jpg');
		background-position: left center, right -220px bottom;
		background-size: cover;
	}
	#start-your-transformation p{
		color: #444;
	}
}