#perguntas-frequentes{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}
#perguntas-frequentes .title{
	margin-bottom: 50px;
}

.panel-group .panel{
	border-radius: 0;
}
.panel-default>.panel-heading{
	background: #0077c8;
	border-radius: 0; 
	color: #fff
}
.panel-default>.panel-heading a{
	color: #fff;
}
.panel-title{
	border-radius: 0;
	color: #0077c8;
	font-weight: normal;
}



.parent .panel-default>.panel-heading{
	background: #eee;
}
.parent .panel-default>.panel-heading a{
	color: #0077c8;
}
.parent .produtos .panel-title{
	color: #333 !important;
}

@media all and (min-width:991px) and (max-width:1199px){
	
}