
#politica-privacidade, #politica-reembolso{
	margin-top: 50px;
	margin-bottom: 150px;
}
#politica-privacidade p, #politica-reembolso p{
	color: #444;
}

#politica-privacidade ul, #politica-reembolso ul{
	list-style-type: none;
	color: #555;
	font-size: 16px;	 
}

#politica-privacidade ul li, #politica-reembolso ul li{
	position: relative;
}
#politica-privacidade ul li::before, #politica-reembolso ul li::before{
	content:  "→";
	color:  #0077c8;
	font-size: 18px;
	font-weight: bold;
}