

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 08/11/2016
   Pagina - Na mídia
   Life Health
   ========================================================================== */


/* ==========================================================================
   	**************************  Responsividade  ****************************
   ========================================================================== */

@media screen and (min-width: 1200px) {

	
}

@media screen and (max-width: 1199px) and (min-width: 992px) {

	/* // Trecho referente ao bloco 1: citações da mídia // */

	.content-box-quote, .img-quote-midia {
		height: 200px!important;
	}

	/* // Fim do trecho referente ao bloco 1: citações da mídia // */

}


@media screen and (max-width: 991px) {


}

@media screen and (max-width: 991px) and (min-width: 768px) {
	
	/* // Trecho referente ao bloco 1: citações da midia // */

	.img-quote-midia, .text-quote-midia {
	    height: 135px!important;
	}

	/*
		// Trecho referente ao bloco 2: CTA - nm
	*/

	.box-content-img-cta-nm {
		width: 28%!important;
		float: left;
	}

	.box-content-text-cta-nm {
		width: 72%!important;
		float: right;
	}

	.content-cta-nm {
		height: 310px;
	}
	/*
		// Fim do trecho referente ao bloco 2: CTA - nm
	*/
}


@media screen and (max-width: 769px) and (min-width: 641px) {
	

	@media screen and (min-width: 641px) and (max-width:705px) {

		/* // Trecho referente ao bloco 1: citações da mídia // */


		/* // Fim do trecho referente ao bloco 1: citações da mídia // */

	}

	@media screen and (min-width:706px) and (max-width:769px) {
	
	}
}


@media screen and (max-width: 640px) and (min-width: 481px) {

	/* // Trecho referente ao bloco 1: citações da mídia // */

	.row-quote .container, .row-quote .container-fluid, .content-quote, .content-box-quote {
		padding: 0;
	}

	.text-quote-midia {
		height: auto!important;
		padding-bottom: 15px!important;
	}

	.img-quote-midia {
		height: 140px!important;
	}

	.img-quote-midia img {
		width: 100%!important;
		padding: 0 15px;
		
	}


	/* // Trecho referente ao CTA - na midia // */

	.text-cta-nm {
		font-size: 16px!important;
	}

}

@media screen and (max-width: 480px) {
	
	/* // Trecho referente ao bloco 1: citações da mídia // */

	/* // reset CSS for ao bloco 1: citações da mídia // */

	.row-quote .container, .row-quote .container-fluid, .content-quote {
		padding: 0;
	}

	.img-quote-midia, .text-quote-midia {
		width:100%!important;
	}

	.text-quote-midia {
		height: auto!important;
		padding:0 0 15px!important;
	}

	.img-quote-midia-glbrp {
		height: 110px!important;
	}

	.img-quote-midia-r7 {
		height: 140px!important;
	}

	.img-quote-midia-soumaiseu {
		height: 125px!important;
	}

	.img-quote-midia-dietaja {
		height: 55px!important;
	}


	/* // Fim reset CSS for mobile CTA - na midia // */

	.text-cta-nm {
		font-size: 14px!important;
		margin: 15px 0!important;
	}

	
	/* // Fim do trecho referente ao CTA - na midia // */
}


@media screen and (max-width: 480px) and (min-width: 321px) {

	@media screen and (max-width: 480px) and (min-width: 380px) {

	}

}

@media screen and (max-width: 321px) {

	.box-content-text-cta-nm .btn-adquira a h3 {
		margin: 20px 0!important;
	}

}
/*
	// Trecho referente ao bloco 1: Citações da mídia;
*/

.row-quote {
	background: url(../img/img-midia.jpg) center bottom fixed;
}

.box-quote {
	margin: 15px 0;
}

.title-quote h3 {
	margin: 50px 0 20px;
	text-align: center;
	font-weight: bold;
}

.content-box-quote {
	background: rgba(255, 255, 255, .55);
	border: solid 3px #ddd;

}

.img-quote-midia {
	height:170px;
}

.img-quote-midia img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

.text-quote-midia h4{
	font-weight: bold;
	color: #555;
}

.text-quote-midia i{
	font-weight: initial;
	color: #555;
}

/*
	// Fim do trecho referente ao bloco 1: Citações da mídia;
*/

/*
	// Trecho referente ao bloco 2: CTA - na midia (nm);
*/

/*	///////////////// Zerendo CSS deste trecho ////////////////  */

.content-full-cta-nm, .cta-nm-fluid, .content-cta-nm, .box-content-text-cta, .box-content-text-cta .btn-adquira {
	padding: 0;
}

/*	///////////////// Zerendo CSS deste trecho ////////////////  */


.cta-nm-fluid {
	background: #edf5f9;
	padding: 10px 0!important;
}

.title-cta-nm {
	font-weight: bold;
	text-align: center;
	margin: 35px 0;
}

.text-chamada-cta-nm {
	font-weight: bold;
	text-align: center;
	margin-top: 15px;	
}

.box-content-img-cta-nm-xs {
	height: 260px;
}

.box-content-img-cta-nm-xs img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.box-content-img-cta-nm {
	height: 305px;	
}

.box-content-img-cta-nm img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.text-cta-nm {
	text-align: center;
	font-weight: initial;
	color: #222222;
	font-size: 18px;
}

.text-cta-nm span{
	color: #006f92;
	font-weight: bold;
}

.box-content-text-cta-nm .btn-adquira a{
	margin:0 auto!important;
	display:block!important;
	float: none;
	margin: 25px auto!important;
}
