

/* ==========================================================================
   Autor: Peterson Macedo
   Data: 06/12/2016
   Finalização Boleto - Sucesso page
   Life Health
   ========================================================================== */


/* ================   Responsividade   ================== */

@media only screen and (min-width : 1200px) {

	.content-pedido {
		height: 150px!important;
	}

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
	.box-btn-print div a{
		width: 200px;
		display: block;
		float: none;
		margin: 40px auto 20px;
	}

	.warning {
		padding: 0 160px;
	}

}

@media only screen and (max-width : 767px) {

	.pedido-total, .pedido-total div {
		padding: 0!important;
	}

	.img-header img {
		display: block!important;
		float: none!important;
		margin: 13px auto!important;
	}

	.content-right-congralate {
		text-align: center!important;
		padding: 40px 0 30px!important;
	}

	.icon-boleto {
		display: block!important;
		float: none;
		margin: 20px auto!important;
	}

	.icon-boleto i{
		padding: 15px 0;
	}

	.content-pedido {
		height: auto!important;
		margin-top: 15px;
	}

	.pedido-total-xs {
		padding: 15px;
	}

	.content-img-product {
		display: flex;
		vertical-align: middle;
		align-items: center;
	}

	.status-circle {
		padding: 0;
	}

	.status-horizontal {
		display: block!important;
		padding: 0;
	}

	.status-vertical {
		display: none!important;
	}

	.warning {
		padding: 0 15px!important;
	}

	.type {
		width: 100%!important;
	}

	.type i {
		width: 15%;
	}

	.type .info {
		width: 85%;
	}

	.payment-info {
		padding: 0 15px!important;
	}

	.item-shipping span.description-pedido {
		margin-top: 25px!important;
	}

	.content-right-rodape {
		text-align: left!important;
		padding: 0;
	}

}

@media only screen and (max-width : 480px) {
	.action-title {
		text-align: center;
	}

	.pedido-total {
		height:auto!important;
		display: block!important;
	}

	.pedido-total-xs {
		width:100%;
	}

	.content-img-product {
		width:100%;
	}

	.content-img-product img{
		width:auto!important;
		margin: 0 auto;
	}

	.content-descricao-pedido div {
		padding: 0;
	}

	.status-circle {
		width: 100%!important;
	}

	.line-center-status {
		position:absolute!important;
	    top: 55px!important;
	    left: 24%;
	    margin: 0!important;
	    width: 15px!important;
	    height: 310px!important;
	    padding: 10px;
	}

	.text-status-pacote {
		padding: 25px 0!important;
    	text-align: left!important;
	}

	.status-horizontal {
		display: none!important;
	}

	.status-vertical {
		display: block!important;
	}

	.type {
		text-align: center;
	}

	.type i {
		width: 100%;
		padding-left: 15px!important;
	}

	.type .info {
		width: 100%;
	}

}

@media only screen and (max-width : 320px) {

}

@media print {
	body *{display:none}
	iframe{display:block!important}
}

.loading-page {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}


.row-header-biodrine {
	height: 85px;
	background: #FCF8F3;
}

.img-header img{
	width: 200px;
	margin: 13px 0;
}

.text-header {
	text-align: right;
	line-height: 85px;
	color:#9C9A96;
}

.container, .container-fluid, .content-left-congralate,
.content-right-congralate, .box-btn-print,
.box-btn-print div, .payment-info {
	padding: 0;
}

.row-congratulate {
	padding: 40px 15px 25px;
}

.content-left-congralate {
	text-align: left;
}

.content-right-congralate {
	text-align: right;
}

.box-title h1, .box-title h2, .box-order-number h1 {
	margin:0;
	font-weight: bold;
}

.box-title h1, .box-order-number h1 {
	color: #72B563;
}

.box-title h2 {
	margin-bottom: 30px!important;
}

.box-text {
	color: rgb(163, 163, 163);
	font-size: 16px;
}

.box-text strong{
	color: rgb(51, 51, 51);
}

.box-description {
	padding: 20px 0;
}

.box-description p span {
	color: #73B563;
	display: flex;
	padding: 0 15px 0 0;
}

.box-description p {
	display: flex;
	color: rgb(163, 163, 163);	
	padding: 0 15px;
}

.container-boleto {
	background: #f5f5f5;
	padding: 20px!important;
	border: solid 1px #e5e5e5;
}

.container-boleto .container-fluid{
	background: #fff;
}

.action-title {
	font-size: 20px;
	color: #F14F00;
	margin: 15px 0;
	padding: 0 20px;
}

.icon-boleto {
	width: 70px;
	height: 70px;
	margin: 20px;
	color: #F14F00;
	font-weight: normal;
	border-radius: 50%;
	border: solid 5px #F14F00;
	display: flex;
	vertical-align: middle;
	align-items: center;
	padding: 0;
}

.icon-boleto i {
	text-align: center!important;
	width: 100%;
}

.content-info-boleto {
	list-style-type: none;
	font-size: 14px
}

.content-info-boleto li strong{
	color: #F14F00;
}

.content-info-boleto li i{
	color: rgb(51, 51, 51);
}

.row.barcode {
	text-align: center;
	color: rgb(163, 163, 163);
	margin: 15px 0 8px;
	font-size: 16px;
}

.row.barcode p.code {
	font-size: 19px;
    font-weight: 700;
    margin-top: 15px;
    color: #f14f00;
}

.iframe-boleto {
	padding: 15px 30px 30px;
}

.row-pedido {
	padding: 0 0 25px;
	margin-top: 30px;
	border: solid 1px #e5e5e5;
}

.description-pedido {
	font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #f14f00;
}

.value-pedido {
	font-size: 16px;
	color: #a3a3a3;
}

.row-descricao-pedido {
	background: #F5F5F5;
	border: solid 1px #e5e5e5;
	border-top: none;
}

.content-descricao-pedido-title {
	padding: 20px 15px 15px;
}

.content-pedido {
	background: #fff;
	height: 111px;
	display: flex;
	vertical-align: middle;
	align-items: center;
	color: #a3a3a3;
}

.pedido-total {
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.content-descricao-pedido {
	background: #fff;
	margin: 15px 0;
	height: 44px;
	display: flex;
	vertical-align: middle;
	align-items: center;
	color: #a3a3a3;
	text-align: right;
}

.content-img-product img{
	width: 100%;
}

.row-status-pedido {
	border: solid 1px #e5e5e5;
	border-top: none;
}

.status-pedido-title, .status-pedido {
	text-align: center;
}

.status-pedido {
	padding: 20px 0;
}

.line-center-status {
	position: relative;
    top: 55px;
    width: 80%;
    height: 14px;
    margin: 0 auto;
    float: none;
    background-color: #e2e2e2;
}

.icon-status-pedido {
	width: 65px;
	height: 65px;
	margin: 15px auto;
	border-radius: 50%;
	border: solid 10px #E2E2E2;
	float: none;
	padding: 0;
	color: #E2E2E2;
	background: #FFF;
}

.icon-status-pedido i{
	padding: 8px 10px;
}

.icon-one {
	background: #1BB913;
	color: #fff!important;	
}

.icon-two {
	background: #F14F00;
	color: #fff;	
}

.text-status-pacote {
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e2e2e2;
    padding: 0;
}

.text-status-pacote.text-success {
	color: #1BB913!important;
}

.text-status-pacote.text-alert {
	color: #F14F00!important;
}

.row-info-pedido {
	padding:25px 0;
}

.payment-info h2, .payment-shipping h2 {
	padding: 0;
}

.info p {
	margin: 0;
	color: #a3a3a3;
}

.info #button {
	margin-top: 5px;
}

.type {
	padding: 15px 0;
	border-bottom: dashed 2px #a3a3a3;
	width: 90%;
}

.type i {
	padding-left: 0;
}

.row-info-shipping {
	padding: 20px 0;
}

.item-shipping {
	padding-left: 0;
}

.item-shipping .description-pedido {
	padding-left:0;
	margin-top: 10px!important;
	margin-bottom: 5px!important;
}

.info-shipping {
	font-size: 20px;
	line-height: 15px;
	color: #a3a3a3;
	padding: 0;
}

.total-info-shipping {
	font-size: 35px!important;
	line-height: 30px!important;
    font-size: 2.1875rem;
    font-weight: 700;
    padding-left: 0;
    color: #f14f00;
}

.payment-shipping dt, .payment-shipping dd {
	padding-left: 0;
}

.payment-shipping dt {
	margin-bottom: 3px!important;
}

.payment-shipping dd {
	font-size: 14px;
    margin-bottom: 20px;
    color: #a3a3a3;
}

.warning {
	margin: 45px 0;
}

.warning p {
	text-align: center;
	color: #a3a3a3;
	font-size: 16px;
	margin: 0;
}

.warning p span {
    font-weight: 700;
    color: #f14f00;
    display: block;
}

.warning h3 {
	font-size: 35px!important;
    font-weight: 700;
    color: #f14f00;
    text-align:center;
    margin: 0;
}

/*  RODAPÉ  */

.container-rodape-checkout {
	background: #FCF8F3;
	border-top: 2px solid #ddd;
}

.img-logo-rodape {
	margin: 20px 0;
}

.menu-rodape-checkout {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.content-right-rodape {
	vertical-align:text-bottom;
	text-align: right;
	display: table; 
	vertical-align: bottom;
	margin-top: 21px;
}

.li-contato p {
	line-height: 8px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.msg-rodape {
	text-align: center;
	font-size: 12px;
	color: #999;
	margin: 20px 0 0;
	padding: 10px;
}

.txt-copy-biodrine {
	text-align:center;
	margin: 15px 0 0;
	padding: 10px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	background: #F2F2F2;
}

.menu-rodape-checkout li a i:before{
	color: #656565;
}

.menu-rodape-checkout li a {
	color: #333;
}

.menu-rodape-checkout li a:hover {
	color: #999;
	text-decoration: none;
}

.menu-rodape-checkout li a:active {
	color: #006F92;
	text-decoration: none;
}
