form input {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	color: #333;
	display: block;
	height: 32px;
	padding: 0 5px;
	width: 275px;
}

form #numerocartao {
	background-image: url(../img/validarcartaocredito.png), url(../img/validarcartaocredito.png);
	background-position: 2px -109px, 240px -53px;
	background-size: 120px 361px, 120px 361px;
	background-repeat: no-repeat;
	padding-left: 54px;
	width: 100%;
}

@media screen and (max-width: 320px) {
	form #numerocartao {
		background-image: url(../img/validarcartaocredito.png), url(../img/validarcartaocredito.png);
		background-position: 2px -109px, 240px -53px;
		background-size: 120px 361px, 120px 361px;
		background-repeat: no-repeat;
		padding-left: 54px;
		width: 100%;
	}
}

form #numerocartao.valid.visa {
	background-position: 2px -147px, 240px -79px
}

form #numerocartao.valid.mastercard {
	background-position: 2px -185px, 240px -79px
}

form #numerocartao.valid.amex {
	background-position: 2px -223px, 240px -79px
}

form #numerocartao.valid.diners {
	background-position: 2px -261px, 240px -79px
}

form #numerocartao.valid.elo {
	background-position: 2px -299px, 240px -79px
}

form #numerocartao.valid.hipercard {
	background-position: 2px -337px, 240px -79px;
}