<!--
Com o "ID MoIP" da transação em mãos e ou o seu "ID Próprio" é possível gerar um novo link para impressão do Boleto, seja por API ou por meio da integração HTML, porem alterar a data de vencimento do boleto somente será possível através de sua conta MoIP nos detalhes da transação.

Utilizando o ID MoIP para gerar a segunda via do Boleto:
Ex: https://www.moip.com.br/Boleto.do?id=ID_MOIP

Utilizando seu ID Próprio para gerar a segunda via do Boleto:
Ex: https://www.moip.com.br/PrintBoleto.do?login=SEU_LOGIN&id=IdProprio
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>2 Via Boleto - Biodryne</title>
		<script src="../app/ajaxGetPost.js"></script><!-- carregamendo ajax -->
	</head>

	<body>

		<!--<form action="https://desenvolvedor.moip.com.br/sandbox/ValidaEmailBoleto.do?method=validate" method="POST">-->
		<!--https://desenvolvedor.moip.com.br/sandbox/Instrucao.do?token=8230U1E6A1P2S109G1U0L0J993P1V627K3W0K0P0H0Q061J2P4Y5U0J3J7L1-->
		<form id="consultar-imprimir" action="" method="post">
			<input type="text" id="idtransacao" name="idtransacao" value="14"/><br />
			<input type="text" id="email" name="email" value="email@gmail.com" /><br />
			<input id="submitbutton" type="submit" value="Pesquisar">
			<!--<buttom id="submitbutton" type="button">Pesquisar</buttom>-->
		</form>

		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../app/consultarcompra.js"></script>

	</body>
</html>